* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: black;
  }
  /* Navbar related css */
  
  #links {
    display: flex;
    justify-content: space-evenly;
    padding: 1%;
    box-shadow: 2px 2px 5px 5px red;
  }
  
  #links > div {
    display: flex;
    list-style: none;
  }
  #links a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
  }
  
  table,
  td,
  th {
    border: 1px solid white;
    text-align: left;
    color: red;
  }
  
  table {
    border-collapse: collapse;
    width: 70%;
    margin: auto;
    margin-top: 50px;
  }
  
  th,
  td {
    padding: 15px;
  }
  
  tr > th {
    background-color: red;
    color: white;
  }
  